*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #D8EBF2;
}

header{
    width: 100%;
    height: 5rem;
    background-color: #D8EBF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    cursor: default;
    font-size: 40px;
    margin-left: 2rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#2A3A40, rgb(90, 79, 79));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

li, a{
    color: #D2D7D9;
    z-index: 1;
    list-style: none;
    margin-left: 2rem;
    text-decoration: none;
    font-weight: 400;
}

a:hover{
    transition: .2s;
    color: #ffffff;
}

.btn-navbar{
    padding: 10px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

.btn-navbar:hover{
    transition: .2s;
    background-color: #2A3A40;
    border: solid 1px #D8EBF2;
    color: #D2D7D9;
}

.frame1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0px;
    background: #2A3A40;
}

.circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(80deg, #34464d, #37484e);
    clip-path: circle(50% at center 90%);
    z-index: 1;
}

.frame1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 2;
}

section{
    width: 50%;
    height: 100%;
    padding: 200px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

strong{
    font-size: 60px;
    font-weight: 800;
}

.title-content{
    margin-bottom: 2rem;
    cursor: default;
}

.btn-content{
    padding: 10px 110px;
    background-color: #2A3A40;
    color: #ffffff;
    border-radius: 25px;
}

.btn-content:hover{
    transition: .2s;
    background-color: #D8EBF2;
    border: 1px solid #2A3A40;
    color: #2A3A40;
    font-weight: 500;
}

footer {
    background-color: #D2D7D9;
    width: 50%;
    cursor: default;
  }
  
  .footer p {
    color: #a5a5a5;
    padding: 23px 23px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer span {
    color: #2A3A40;
  }