*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #D8EBF2;
}

header{
    width: 100%;
    height: 5rem;
    background-color: #D8EBF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 40px;
    margin-left: 2rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#2A3A40, rgb(90, 79, 79));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

li, a{
    color: #D2D7D9;
    z-index: 1;
    list-style: none;
    margin-left: 2rem;
    text-decoration: none;
    font-weight: 400;
}

.btn-navbar{
    padding: 10px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.frame1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0px;
    background: #2A3A40;
}

.circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(80deg, #34464d, #37484e);
    clip-path: circle(50% at center 90%);
    z-index: 1;
}

.frame1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 2;
}

